/output*
/.auto.deps
/.config.cmd
/.config.old
/..config.tmp
/.config
/dl/*/.lock
*.depend
*.o
/*.patch
/*.diff
*.orig
*.rej
*~
*.pyc
/rootfs-hybrid/install
/rootfs-hybrid/reports*
/rootfs-hybrid/rootfs
/rootfs-hybrid/docs
/rootfs-hybrid/fakeroot.db
*ort-validation*
/.config*